<main class="main__container-shop container">

    <aside class="filter__item">
        <div class="filtros">
            <form class="form__filtro" action="" method="post">

                <div class="search__order">
                    <!-- <div class="filter__search"> -->
                    <label class="filter__title">BUSCAR</label>
                    <input class="input__search" type="text" name="busqueda" id="busqueda"
                        placeholder="Item o categoría" />
                    <!-- </div> -->

                    <!-- <div class="filter__order"> -->
                    <label class="filter__title">ORDENAR POR</label>
                    <select class="select__order" name="orden" id="orden">
                        <option class="select__order-mayor" value="mayor"> Mayor a menor</option>
                        <option class="select__order-menor" value="menor"> Menor a mayor</option>
                    </select>
                    <!-- </div> -->
                </div>
                <div class="filter__price">
                    <label class="filter__title">PRECIO</label>
                    <div class="min">
                        <label class="label__filter-price" for="min">MIN</label>
                        <input class="input__price" type="number" name="min" id="min" placeholder="0" />
                    </div>
                    <div class="max">
                        <label class="label__filter-price" for="max">MAX</label>
                        <input class="input__price" type="number" name="max" id="max" placeholder="0" />
                    </div>
                </div>
                <div class="filter__check">
                    <label class="filter__title">FILTRAR</label>
                    <div class="filter__check-item">
                        <input class="input__check" type="checkbox" name="nuevos" id="nuevos" value="1" />
                        <label class="label__filter-check" for="nuevos">NUEVOS</label>
                    </div>
                    <div class="filter__check-item">
                        <input class="input__check" type="checkbox" name="ofertas" id="ofertas" value="2" />
                        <label class="label__filter-check" for="ofertas">OFERTAS</label>
                    </div>
                    <div class="filter__check-item">
                        <input class="input__check" type="checkbox" name="edicion especial" id="edicion especial"
                            value="3" />
                        <label class="label__filter-check" for="edicion especial">EDICIÓN ESPECIAL</label>
                    </div>
                    <div class="filter__check-item">
                        <input class="input__check" type="checkbox" name="favoritos" id="favoritos" value="4" />
                        <label class="label__filter-check" for="favoritos">FAVORITOS</label>
                    </div>
                </div>
        </div>
    </aside>

    <section class="main__cards">

        <%if (typeof productos !='undefined' ) { %>

            <% productos.forEach(producto=> { %>
                <article class="cards">
                    <a href="/items/<%=producto.id%>">
                    <picture class="card-item__img">
                        <span class="card-item__tag">NUEVO</span>
                        
                            <img class="card-item__img--front" src="/upload/producto_<%= producto.id %>.webp"
                                alt="<%=producto.product_description%>">
                            <!-- <img class="card-item__img--back" src="/upload/producto_<%= producto.id %>.webp"
                            alt="<%=producto.product_description%>"> -->
                    </picture>
                    <div class="card__description">
                        <h6 class="card-item__licence">
                            <%=producto.licence_name%>
                        </h6>
                        <h3 class="card-item__name">
                            <%=producto.product_name%>
                        </h3>
                        <p class="card-item__price">$<%=producto.price%>
                        </p>
                        <p class="card-item__cuotas">
                            <%=producto.dues%> - Cuotas sin intereses.
                        </p>
                    </div>
                    </a>
                </article>
                <% }) %>

                    <% } %>

    </section>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</main>