<main class="container">
    <form class="admin__form" action="">
        <div class="admin__search">
            <img class="img__lupa" src="../multimedia/icons/search_icon.svg" alt="Lupa">
            <input class="admin__input" type="search" placeholder="código, nombre o categoria">
        </div>
    </form>
    <section class="admin__section">
        <div class="admin__encabezado">
            <h1 class="admin__title">LISTADO DE PRODUCTOS</h1>
            <div class="admin__add">
                <p class="admin__agregar">AGREGAR</p>
                <a href="/admin/create"><img src="../multimedia/icons/ico-agregar.png" alt="Icono agregar"></a>
            </div>
        </div>
 
        <table class="admin__table">
            <thead class="admin__table-head">
                <tr class="admin__table-tr">
                    <th class="admin__table-th">ID</th>
                    <th class="admin__table-th">Código</th>
                    <th class="admin__table-th">Nombre del Producto</th>
                    <th class="admin__table-th">Licencia</th>
                    <th class="admin__table-th"></th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => { %>
                    <tr class="admin__table-tr">
                        <td class="admin__table-td"><%= producto.id %></td>
                        <td class="admin__table-td"><%= producto.sku %></td>
                        <td class="admin__table-td"><%= producto.product_name %></td>
                        <td class="admin__table-td"><%= producto.license_id %></td>
                        <td class="admin__table-td">
                            <a href="/admin/edit/<%= producto.id %>"><img src="../multimedia/icons/edit_pencil.svg" alt="editar"></td></a>
                        <td class="admin__table-td">
                            <img src="../multimedia/icons/delete_trash.svg" alt="delete_trash"></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
</main>